.button {
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2.2rem;
  position: relative;

  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &_style {
    &_default {
      font-size: 11.5px;
    }

    &_wb {
      background: none;
      color: #bc9cff;
      &-inactive {
        color: rgba(31, 32, 65, 0.5);
      }
    }

    &_lt {
      // Позиции, отмеченные звездочкой можно было бы заменить на простой
      // background-color: rgba(r, g, b, a), но на него ругается валидатор
      // http://htmlbook.ru/blog/poluprozrachnyy-fon
      z-index: 1;
      position: relative; //*
      .button__pseudo-parent_style_lt {
        position: absolute; //*
        padding: 2px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        width: 100%; //*
        height: 100%; //*
        z-index: -1; //*
        border-radius: inherit; //*
        left: -2px; //*

        &-inactive {
          opacity: 0.5;
        }
      }

      &-xs {
        & > .button__text {
          background: #ffffff;
          color: #bc9cff;
          border-radius: inherit;
          box-sizing: border-box;
          padding: 0.7rem 1.8rem 0.7rem 1.8rem;
          font-size: 12px;
          line-height: 16px;
        }
      }

      &-md {
        & > .button__text {
          background: #ffffff;
          color: #bc9cff;
          border-radius: inherit;
          box-sizing: border-box;
          padding: 1.2rem 1.8rem 1.2rem 1.7rem;
          font-size: 11.8px;
          line-height: 16px;
        }
      }
    }

    &_default {
      color: #ffffff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      font-size: 12px;

      &-inactive {
        opacity: 0.5;
      }
    }

    &_ic {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 100%;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: #ffffff;

      & > .button__text {
        margin-bottom: 0.2rem;
        margin-left: -0.1rem;
      }

      .button__icon {
        position: absolute;
        top: 50%;
        left: 93.1%;
        transform: translate(-50%, -50%);
      }

      .material-icons {
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        color: #ffffff;
      }
    }

    &_default:active,
    &_lt:active,
    &_ic:active {
      opacity: 0.5;
    }

    &_wb:active {
      color: rgba(31, 32, 65, 0.5);
    }

    &:active:before {
      opacity: 0.2;
    }

    &_wb:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_default:hover,
    &_lt:hover,
    &_ic:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  // Высота кнопки
  &_height {
    // Очень тонкая кнопка
    &_xs {
      padding: 0.9rem 2.1rem 1rem 1.9rem;
    }
    // Тонкая кнопка
    &_s {
      .button__text {
        padding: 0.6rem 1.8rem 0.7rem 1.7rem;
      }
    }
    // Средняя кнопка
    &_md {
      padding: 0.1rem 2.2rem 0 1.9rem;
      height: 4.4rem;
      font-size: 12px;
    }
  }
}
