include ./components/button/button
include ./components/icon/icon
include ./components/forms/forms

doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Demo режим для UI-Kit'
  body
    .container
      .columns 
        .column.col-xs-12
          h2 Icons
          .columns
            .column.col-3
              +btn('primary action lg')
                +i('arrow-up')
              p arrow-up
            .column.col-3
              +btn('primary action lg')
                +i('cross')
              p cross
            .column.col-3
              +btn('primary action lg')
                +i('menu')
              p menu 
            .column.col-3
              +btn('primary action lg')
                +i('arrow-down')
              p arrow-down
            .column.col-3
              +i('time 3')
              p time 3x
            .column.col-3
              +btn('primary action lg')
                +i('apps')
              p apps

          h2 Buttons
          .demo
            +btn('', 'default button')
            +btn('primary', 'primary button')
            +btn('link', 'link button')
          .demo
            +btn('success', 'success button')
            +btn('error', 'error button')
          .demo
            +btn('primary lg', 'large ')
              +i('arrow-down')
            +btn('primary lg', 'large button')
          .demo
            +btn('primary', 'normal ')
              +i('arrow-down')
            +btn('primary', 'normal button')
          .demo
            +btn('primary sm', 'small ')
              +i('arrow-down')
            +btn('primary sm', 'small button')
          .demo
            +btn('action primary lg')
              +i('menu')
            +btn('action primary')
              +i('menu')
            +btn('action sm primary')
              +i('menu ')
            +btn('circle primary lg')
              +i('arrow-up')
            +btn('circle primary')
              +i('arrow-up')
            +btn('circle primary sm')
              +i('arrow-up')
          .demo 
            +btn('disabled', 'default disabled')
            +btn('disabled primary', 'primary disabled')
            +btn('disabled link', 'link disabled')
          .demo 
            +btn('loading', 'default button')
            +btn('primary loading', 'primary button')
            +btn('link loading', 'link button')
          .demo
            +btn('block lg', 'block')
        
          h3 Button groups

          .demo
            +btn('group')
              +btn('', 'first button')
              +btn('', 'second button')
              +btn('', 'third button')
        
            +btn('group block')
              +btn('primary', 'first button')
              +btn('primary', 'second button')
              +btn('primary', 'third button')

            +btn('group')
              +btn('sm active', 'first button')
              +btn('sm', 'second button')
              +btn('sm', 'third button')
            +btn('group block')
              +btn('primary sm active', 'first button')
              +btn('primary sm', 'second button')
              +btn('primary sm', 'third button')

        .column.col-4
          h2 Inputs
          +input('field-text')
          +input('field-text', 'text', 'Name', 'Name')
          +input('field-email', 'email', 'Email', 'Email')
          +textarea('input-textarea', '5', 'Message', 'Textarea')

          h2 Dropdowns

          +select('Item 1, Item 2, Item 3, Item 4')

          h2 Radio button

          +radio('gender', 'Gender', 'Male^, Female')

          h2 Switch 
          +switch('Send me emails with news and tips')
          +switch('Send me emails with news and tips', 'checked')

          h2 Checkbox 
          +checkbox('Remember me')
          +checkbox('Remember me', 'checked')

        .column.col-4
          h2 Horizontal forms

          .form-horizontal 
            

        


